*{
    margin: 0;
    padding: 0;
    font-family: Work Sans;
}

main{
    min-height: 100vh;
    width: 100%;
    background-color: hsl(275, 100%, 97%);
    
}

.bgimg{
    height: 30vh;
    width: 100%;
    background-image: url("assets/images/background-pattern-desktop.svg");
    background-position: center;
    background-size: cover;
}

.faq-container{
 position: absolute;
 left: 0;
 right: 0;
 top: 100px;
 margin-left: auto;
 margin-right: auto;
 width: 40vw;
 /* height: 300px; */
 margin: auto;
 background-color: white;
 /* border: 2px solid black; */
 border-radius: 10px;
 filter: drop-shadow(0px 0px 5px rgb(46, 46, 46));

}

.star{
    height: 40px;
    width: 40px;
    background-image: url("assets/images/icon-star.svg");
    background-position: center;
    background-size: cover;
    /* display: inline-block; */
}

.heading{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    color: black;
    padding: 20px 20px;
}

.heading h1{
    font-size: 50px;
}

hr{
    width: 90%;
    opacity: 0.1;
    margin: auto;
}

.plusImg{
    background-image: url("assets/images/icon-plus.svg");
    height: 20px;
    width: 20px;
    background-position: center;
    background-size: cover;
    display: inline-block;
}

.question{
    /* width: 100%; */
    padding: 20px 30px;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* flex-direction: ; */
}

.question button{
    border: none;
    background-color: white;
}

.answer{
    padding: 15px 30px;
    opacity: 0.5;
    font-size: 16px;
    /* display: none; */

}

.hide{
    display: none;
}

